[Unit]
Description=Monthly Btrfs scrub on %f

[Timer]
OnCalendar=monthly
RandomizedDelaySec=10min
Persistent=true

[Install]
WantedBy=multi-user.target